# IDE
.vscode
.idea

# Python
__pycache__

# Data
1kgenome_sbatch_deception/

# Output files
*.csv
*.err
*.out
*.log

# DataLife files
datalife_stats*/
*_w_stat
*_w_trace_stat
*_r_stat
*_r_trace_stat

# Figures
*.png

# Misc
.DS_Store
